<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <form action="/api/email/reset-password" method="POST">
        <input type="hidden" name="token" value="{{token}}">
        <input type="password" name="password" placeholder="New Password" required>
        <button type="submit">Reset Password</button>
    </form>
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
</body>
</html>
